{% extends 'components/_datatable.html' %}
{% load custom_tags %}

{% block actions %}{% endblock actions %}

{% block content %}
    <section>
        <div class="row g-3">
            <div class="col-12">
                <div class="card shadow-sm">
                    <div class="card-content">
                        <div class="card-header d-flex align-items-center gap-2">
                            <h4 class="card-title">
                                {{ object.order_number|capfirst }}
                            </h4>
                            <div class="ms-auto">
                                {% with object.get_status_color as color %}
                                    <span class="badge bg-{{ color }} bg-opacity-25 px-3 py-2 rounded-2 text-{{ color }}">
                                       <i class="bi bi-record-fill"></i>
                                        {{ object.get_status_display }}
                                    </span>
                                {% endwith %}
                            </div>
                        </div>
                        <div class="card-body mt-0">
                            <hr class="mt-0">
                            <dl class="row mb-0 my-2 g-2">
                                <div class="col-12 col-md-4 mb-2">
                                    <dt class="small text-muted fw-normal mb-0">{{ object|field_label:"order_number" }}</dt>
                                    <dd class="fw-medium">
                                        <span class="badge bg-secondary bg-opacity-25 px-2 py-1 rounded-2 text-secondary"
                                              data-bs-toggle="tooltip" data-bs-placement="top"
                                              data-bs-custom-class="custom-tooltip"
                                              data-bs-title={{ object.order_number }}>
                                            {{ object.order_number|upper|default:"-" }}
                                        </span>
                                    </dd>
                                </div>

                                <div class="col-4 col-md-4 mb-2">
                                    <dt class="small text-muted fw-normal mb-0">{{ object|field_label:"motive" }}</dt>
                                    <dd class="fw-medium">{{ object.motive|default:"-" }}</dd>
                                </div>

                                <div class="col-4 col-md-4 mb-2">
                                    <dt class="small text-muted fw-normal mb-0">{% trans 'items total'|capfirst %}</dt>
                                    <dd class="fw-medium">
                                        <span class="badge bg-primary bg-opacity-25 px-2 py-1 rounded-2 text-secondary text-truncate">
                                            {{ items|default:"-" }}
                                        </span>
                                    </dd>
                                </div>

                                <div class="col-4 col-md-4 mb-2">
                                    <dt class="small text-muted fw-normal mb-0">{{ object|field_label:"total"|capfirst }}</dt>
                                    <dd class="fw-medium">{{ object.total|default:"-" }}</dd>
                                </div>

                                <div class="col-4 col-md-4 mb-2">
                                    <dt class="small text-muted fw-normal mb-0">{{ object|field_label:"requested_by"|capfirst }}</dt>
                                    <dd class="fw-medium">{{ object.requested_by|default:"-" }}</dd>
                                </div>

                                <div class="col-12 mb-2">
                                    <dt class="small text-muted fw-normal mb-0">{{ object|field_label:"observations" }}</dt>
                                    <dd class="fw-medium">{{ object.observations|default:"-" }}</dd>
                                </div>
                            </dl>
                        </div>
                    </div>

                    <div class="card-footer">
                        <div class="row">
                            <h6 class="mb-0">
                                <i class="bi bi-file-text me-2"></i>{% trans "Audit information" %}
                            </h6>
                        </div>
                        <dl class="row mb-0 my-2 g-3">
                            <div class="col-6 col-md-3 mb-2">
                                <dt class="small text-muted fw-normal mb-0">{% label object 'created_at' %}</dt>
                                <dd class="fw-medium">{{ object.created_at|date:"d M Y, H:i"|default:"-" }}</dd>
                            </div>

                            <div class="col-6 col-md-3 mb-2">
                                <dt class="small text-muted fw-normal mb-0">{% label object 'created_by' %}</dt>
                                <dd class="fw-medium">{{ object.created_by|default:"-" }}</dd>
                            </div>

                            <div class="col-6 col-md-3 mb-2">
                                <dt class="small text-muted fw-normal mb-0">{% label object 'updated_at' %}</dt>
                                <dd class="fw-medium">{{ object.updated_at|date:"d M Y, H:i"|default:"-" }}</dd>
                            </div>

                            <div class="col-6 col-md-3 mb-2">
                                <dt class="small text-muted fw-normal mb-0">{% label object 'updated_by' %}</dt>
                                <dd class="fw-medium">{{ object.updated_by|default:"-" }}</dd>
                            </div>
                        </dl>
                    </div>
                </div>
            </div>
    </section>

    <div class="col-12 col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">{% trans 'Supplies Shipped'|capfirst %}</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th class="ps-4 fw-semibold" style="width: 45%;">{% trans 'Supply'|capfirst %}</th>
                            <th class="text-center fw-semibold"
                                style="width: 15%;">{% trans 'Quantity'|capfirst %}</th>
                            <th class="text-end fw-semibold"
                                style="width: 20%;">{% trans 'Unit cost'|capfirst %}</th>
                            <th class="text-end pe-4 fw-semibold"
                                style="width: 20%;">{% trans 'Total'|capfirst %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in details %}
                            <tr class="border-bottom">
                                <td class="ps-4">
                                    <div class="d-flex align-items-center">
                                        <div class="fw-medium">{{ item.supply.name }}</div>
                                        <small class="text-muted ms-2 font-monospace">
                                            ({{ item.supply.unit_of_measure.extra }})
                                        </small>
                                    </div>
                                    <small class="text-muted d-block">{{ item.batch.batch_number }}</small>
                                </td>
                                <td class="text-center fw-semibold">{{ item.quantity_requested }}</td>
                                <td class="text-end font-monospace text-muted">
                                    ${{ item.unit_cost|floatformat:2 }}
                                </td>
                                <td class="text-end pe-4 fw-bold">
                                    ${{ item.line_total|floatformat:2 }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot class="border-0">
                        <tr>
                            <th colspan="3" class="text-end ps-4 py-2 fw-semibold text-muted border-0">Subtotal</th>
                            <th class="text-end pe-4 py-2 fw-bold font-monospace border-0">
                                ${{ object.subtotal|intcomma }}
                            </th>
                        </tr>
                        <tr>
                            <th colspan="3" class="text-end ps-4 py-2 fw-semibold border-0">Total Final</th>
                            <th class="text-end pe-4 py-2 h5 mb-0 fw-bold text-primary font-monospace border-0">
                                ${{ object.total|intcomma }}
                            </th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block dt_javascript %}
    <script>
        const baseHref = "{% get_base_href %}"
        const urlPaginator = "{{ items_url }}";
    </script>
    <script src="{% static 'js/catalog_items/datatable.js' %}"></script>
{% endblock dt_javascript %}
