# ============================================================================
# ENVIROMENT
# ============================================================================
ENV=develop
PORT=8005
DOMAIN=127.0.0.1
DEBUG=True
DJANGO_SETTINGS_MODULE=cfg.settings.develop

# ============================================================================
# SECURITY
# ============================================================================
SECRET_KEY=ksf@i+2w@(oiyw(quqkg1232ofep9v
ALLOWED_HOSTS=127.0.0.1,0.0.0.0,localhost
CORS_ALLOWED_ORIGINS="http://127.0.0.1:${PORT},http://localhost:${PORT}"
CSRF_TRUSTED_ORIGINS="http://127.0.0.1:${PORT},http://localhost:${PORT}"

# SECURITY SSL (ONLY PRODUCTION)
CSRF_COOKIE_SECURE=False
SESSION_COOKIE_SECURE=False
SECURE_SSL_REDIRECT=False
SECURE_HSTS_SECONDS=0
SECURE_HSTS_INCLUDE_SUBDOMAINS=False
SECURE_HSTS_PRELOAD=False
CSRF_COOKIE_HTTPONLY=False
SESSION_COOKIE_HTTPONLY=False

# ============================================================================
# DATABASE
# ============================================================================
DB_NAME=coes_db
DB_USER=coes_user_db
DB_PASSWORD=coes_password
DB_HOST=db
DB_PORT=5432
DB_ENGINE=postgres
DB_VOLUME_PATH=postgres_data

# ============================================================================
# REDIS
# ============================================================================
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_URL="redis://${REDIS_HOST}:${REDIS_PORT}/0"

# ============================================================================
# EMAIL
# ============================================================================
EMAIL_HOST=mailhog
EMAIL_PORT=1025
EMAIL_HOST_USER=coesnoreply@coes.com
EMAIL_HOST_PASSWORD=tu_app_password_de_google
SERVER_EMAIL=coesnoreply@coes.com
DEFAULT_FROM_EMAIL=coesnoreply@coes.com
EMAIL_USE_TLS=False
EMAIL_USE_SSL=False

# ============================================================================
# CELERY
# ============================================================================
CELERY_BROKER_URL="redis://${REDIS_HOST}:${REDIS_PORT}/0"
CELERY_RESULT_BACKEND="redis://${REDIS_HOST}:${REDIS_PORT}/0"
CELERY_ACCEPT_CONTENT=application/json
CELERY_TASK_SERIALIZER=json
CELERY_RESULT_SERIALIZER=json
CELERY_TIMEZONE=America/Guayaquil


# ============================================================================
# FILES STATIC & MEDIA
# ============================================================================
STATIC_URL=/static/
STATIC_ROOT=staticfiles
MEDIA_URL=/media/
MEDIA_ROOT=media