{% extends 'components/_form.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <section id="basic-vertical-layouts">
        <div class="row match-height">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <form class="form form-vertical" method="post">
                            {% csrf_token %}
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-6">
                                        {{ person_form.first_name|as_crispy_field }}
                                    </div>
                                    <div class="col-6">
                                        {{ person_form.last_name|as_crispy_field }}
                                    </div>
                                    <div class="col-4">
                                        {{ user_form.email|as_crispy_field }}
                                    </div>
                                    <div class="col-4">
                                        {{ person_form.document_number|as_crispy_field }}
                                    </div>
                                    <div class="col-4">
                                        {{ person_form.phone|as_crispy_field }}
                                    </div>

                                    <div class="col-12 d-flex justify-content-end mt-3">
                                        <button type="submit" class="btn btn-primary me-3 mb-1">
                                            {% trans 'Submit'|title %}
                                        </button>
                                        <button type="reset" class="btn btn-light-secondary me-1 mb-1">
                                            {% trans 'Cancel'|title %}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}