{% extends 'components/_form.html' %}
{% load crispy_forms_filters %}

{% block content %}
    <section>
        <div class="row d-flex justify-content-center g-0">
            <div class="col-xl-12 col-md-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <form class="form form-vertical" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    {{ form.name|as_crispy_field }}
                                </div>
                                <div class="col-12 col-md-6">
                                    {{ form.code|as_crispy_field }}
                                </div>
                                <div class="col-12 col-md-6">
                                    {{ form.priority|as_crispy_field }}
                                </div>
                                <div class="col-12 col-md-6">
                                    {{ form.extra|as_crispy_field }}
                                </div>
                                <div class="col-12 col-md-12">
                                    {{ form.description|as_crispy_field }}
                                </div>
                                <div class="col-12 mb-2">
                                    <hr class="w-100 my-2">
                                </div>
                                <div class="col-12 col-md-12 mb-3">
                                    <fieldset class="border rounded p-3 bg-secondary bg-opacity-10">
                                        <div class="form-check form-switch d-flex justify-content-between align-items-center ps-0">
                                            <div>
                                                <label class="form-check-label d-block fw-bold"
                                                       for="{{ form.is_active.id_for_label }}">
                                                    {{ form.is_active.label }}
                                                </label>
                                                {% if form.is_active.help_text %}
                                                    <div class="text-muted small">
                                                        {{ form.is_active.help_text }}
                                                    </div>
                                                {% endif %}
                                            </div>
                                            {{ form.is_active }}
                                        </div>
                                    </fieldset>
                                </div>

                                {# ACTIONS #}
                                <div class="col-12 d-flex justify-content-end">
                                    <a class="btn btn-outline-secondary me-3" href="{{ cancel_url }}">
                                        {% trans 'Cancel'|title %}
                                    </a>
                                    <button type="submit" class="btn btn-primary">
                                        {% trans 'Submit'|title %}
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}