<div class="dropdown">
    <a href="#" data-bs-toggle="dropdown" aria-expanded="false">
        <div class="user-menu d-flex">
            {% with session=request.session %}
                <div class="user-name text-end me-3">
                    <h6 class="mb-0 text-gray-600">{{ session.session_name|title }}</h6>
                    <p class="mb-0 text-sm text-gray-600">{% trans session.group|capfirst %}</p>
                </div>
                <div class="user-img d-flex align-items-center">
                    <div class="avatar bg-warning me-3 py-1 px-1">
                        <span class="avatar-content">{{ session.initials }}</span>
                    </div>
                </div>
            {% endwith %}
        </div>
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton"
        style="min-width: 11rem;">
        <li>
            <a class="dropdown-item" href="{% url 'security:users:detail' request.user.external_id %}">
                <i class="icon-mid bi bi-person me-2"></i>
                {% trans 'My Profile' %}
            </a>
        </li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li>
            <form action="{% url 'security:logout' %}" method="post" class="dropdown-item">
                {% csrf_token %}
                <button type="submit" class="btn btn-link nav-link" style="display: inline; cursor: pointer;">
                    <i class="icon-mid bi bi-box-arrow-left me-2"></i>{% trans 'Logout' %}
                </button>
            </form>
        </li>
    </ul>
</div>