<header>
    <nav class="navbar navbar-expand navbar-light navbar-top">
        <div class="container-fluid">
            <a href="#" class="burger-btn d-block d-lg-none">
                <i class="bi bi-justify fs-3"></i>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <nav aria-label="breadcrumb"
                     class="breadcrumb-header d-none d-md-flex align-items-center me-auto ms-2 mt-1">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item">
                            <a href="#" data-bs-toggle="tooltip" title="{% trans 'Home' %}">
                                {% trans 'Home' %}
                            </a>
                        </li>
                        {% block breadcrumb %}{% endblock %}
                    </ol>
                </nav>
                <!-- ACTIONS -->
            {# ACTIONS #}
                <ul class="navbar-nav d-flex align-items-center mb-lg-0">
                    {#  Toggle Dark/Light #}
                    {% include 'partials/navbar/_theme.html' %}
                     {#  NOTIFICATIONS #}
                    {% include 'partials/navbar/_notifications.html' %}
                </ul>
                {# MENU #}
                {% include 'partials/navbar/_menu.html' %}
            </div>
        </div>
    </nav>
</header>