{% extends 'layouts/base.html' %}
{% load crispy_forms_filters %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'assets/extensions/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/extensions/datatables-responsive/css/responsive.bootstrap5.css' %}">
    <link rel="stylesheet" href="{% static 'assets/compiled/css/table-datatable-jquery.css' %}">
    <!-- daterange picker -->
    <link rel="stylesheet" href="{% static 'assets/extensions/flatpickr/flatpickr.min.css' %}">
    <!-- Select 2 -->
    <link rel="stylesheet" href="{% static 'assets/extensions/select2-4.1.0/dist/css/select2.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'assets/extensions/select2-bootstrap-5-theme-1.3.0/select2-bootstrap-5-theme.min.css' %}">
    {% block head_list %}{% endblock head_list %}
{% endblock extra_css %}

{% block actions %}
    <div class="dropdown m-2">
        <button class="btn btn-primary dropdown-toggle no-arrow d-flex align-items-center gap-2 py-2"
                type="button"
                id="dropdownMenuButton"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
            <span class="d-none d-sm-inline font-weight-bold">{{ actions.title|default:'Acciones' }}</span>
        </button>
        <div class="dropdown-menu dropdown-menu-end"
             aria-labelledby="dropdownMenuButton">
            {% block dropdown_actions %}
                <a class="dropdown-item" href="#">Action 1</a>
                <a class="dropdown-item" href="#">Action 2</a>
                <a class="dropdown-item" href="#">Action 3</a>
            {% endblock dropdown_actions %}
        </div>
    </div>
{% endblock actions %}

{% block content %}
    {% block metrics %}{% endblock metrics %}
    <section class="section">
        <div class="row d-flex justify-content-center g-0">
            <div class="col-xl-12 col-md-12 mb-4">
                {% block filters %}
                    {% if filter_form %}
                        <div class="card shadow-sm mb-4">
                            <div class="card-body">
                                <form method="GET" id="filter">
                                    <div class="row align-items-end">
                                        {% for field in filter_form %}
                                            <div class="col-12 col-sm-6 col-md-4">
                                                {{ field|as_crispy_field }}
                                            </div>
                                        {% endfor %}
                                        <div class="col-12 text-end">
                                            <button type="button" id="clear-filters"
                                                    class="btn btn-outline-secondary btn-sm rounded-pill py-2 px-2">
                                                {% trans 'Clean filters' %}
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    {% endif %}
                {% endblock filters %}

                <div class="card shadow">
                    <div class="card-body mt-0 pt-0">
                        <div class="table-responsive w-100 mt-3">
                            <table id="datatable-list" class="table table-hover w-100">
                                <thead>
                                <tr class="text-uppercase">{% block columns %}{% endblock %}</tr>
                                </thead>
                                <tbody>{% block rows %}{% endblock %}</tbody>
                                <tfoot>{% block tfoot %}{% endblock %}</tfoot>
                                <caption>{% block caption %}{% endblock %}</caption>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% block extra_content %} {% endblock %}
{% endblock content %}

{% block javascript %}
    {% if status_choices %}
        <script type="application/javascript">
            const statusChoices = {{ status_choices|safe }};
        </script>
    {% endif %}
    {% if status_color_choices %}
        <script type="application/javascript">
            const statusColorChoices = {{ status_color_choices|safe }};
        </script>
    {% endif %}

    <script src="{% static 'assets/extensions/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/extensions/datatables.net-bs5/js/dataTables.bootstrap5.min.js' %}"></script>
    <!-- datatables-responsive -->
    <script src="{% static 'assets/extensions/datatables-responsive/js/dataTables.responsive.js' %}"></script>
    <script src="{% static 'assets/extensions/datatables-responsive/js/responsive.bootstrap5.js' %}"></script>
    <script src="{% static 'assets/static/js/pages/datatables.js' %}"></script>
    <!-- date-range-picker -->
    <script src="{% static 'assets/extensions/flatpickr/flatpickr.min.js' %}"></script>
    <script src="{% static 'assets/extensions/flatpickr/l10n/es.js' %}"></script>
    <script src="{% static 'assets/static/js/pages/date-picker.js' %}"></script>
    <!-- Select 2 -->
    <script src="{% static 'assets/extensions/select2-4.1.0/dist/js/select2.full.min.js' %}"></script>
    <script src="{% static 'assets/static/js/cookie.js' %}"></script>

    {% block dt_javascript %}{% endblock dt_javascript %}
{% endblock javascript %}